body {
    margin-top: 20px;
}

button {
    width: 100%;
    height: 30px;
}

#over img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#under button {
    margin-left: auto;
    margin-right: auto;
}